
header{
    height: 200px;
    width: 100%;
    background: green;
}
.mainButton{
    border-radius: 50%;
    
    position: relative;
    left: 40%;
    text-align: center;
    font-size: 16px;
    height: 200px;
    width: 200px
}
.lineBlock{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.infoBlock{
    border: 1px aqua solid;
    width: 33%;
    height: auto;
    background: lemonchiffon;
    padding: 5px;
}
.sortName {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
